*{word-wrap:break-word;}
body,input,button,select,textarea{font:12px/1.5 'Microsoft Yahei','Simsun';color:#444;}
textarea{resize:none;}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
dl,ul li,.xl li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1em;}
em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* 屏蔽文本框高亮 */
textarea {outline: none;} 
/* 清理浮动 */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear5{ clear:both; height:5px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
/*去掉超链接虚线框*/
a{outline:none;}
a:active{noOutline:expression(this.onFocus=this.blur());}
:focus{outline:0;}

.fl{ float:left;}
.fr{ float:right;}

.contain{ width:940px; margin:0 auto;}
.header{ width:890px; height:50px; padding:15px 0 0 50px; border-bottom:#3d3d3d 5px solid;}
.header a img{ border:none;}
.banner{ width:940px; height:368px;}
.bannerleft{ float:left; width:459px; height:368px; background:url(../images/bannerleft.jpg) no-repeat;}
.bannerright{ float:left; width:481px; height:368px; background:url(../images/bannerright.jpg) no-repeat;}
.huatibox{ width:940px; margin:0 auto;}
.ht_top{ width:940px; height:81px; background:url(../images/htbg1.jpg) no-repeat;}
.ht_mid{ width:940px; height:474px;}
.ht_m1{ float:left; width:145px; height:474px; background:url(../images/htbg21.jpg) no-repeat;}
.ht_m2{ float:left; width:439px; height:474px; background:#2b79e5;}
.ht_m2 .toutiao{ width:439px;}
.ht_m2 .toutiao dl dt{ width:439px; height:60px; line-height:60px; font-size:24px; font-weight:400; color:#fff;}
.ht_m2 .toutiao dl dd.d_left{ width:98px; hheight:32px; line-height:32px; font-weight:400; font-size:16px; color:#fff;}
.ht_m2 .toutiao dl dd.d_right{ width:429px; height:120px; color:#fff; font-size:14px; line-height:20px; padding-right:10px;}
.ht_m2 .discuss dl dt{ width:430px; height:30px; line-height:30px; border-bottom:#fff 1px solid; text-align:left; font-size:18px; color:#fff; font-weight:400;}
.ht_m2 .discuss dl dd{ width:430px; height:60px; color:#fff; margin-top:15px;}
.ht_m2 .discuss dl dd a img{ float:left; width:40px; height:40px; border:0; margin-right:10px;}
.ht_m2 .discuss dl dd div{ float:left; width:430px; height:60px; }
.ht_m2 .discuss dl dd div h2{ height:20px; line-height:20px; text-align:left; font-size:14px; font-weight:400;}
.ht_m2 .discuss dl dd div h2 .yellow-v{background:url(../images/yellow-v.png) right center no-repeat; padding-right:18px;}
.ht_m2 .discuss dl dd div p{ height:30px; width:430px; overflow:hidden; line-height:15px; font-size:12px; padding-top:5px;}

.ht_m3{ float:left; width:294px; height:474px; background:url(../images/htbg22.jpg) no-repeat; position:relative;}
.ht_m3 .search{position:relative; width:277px; height:37px; line-height:37px; clear:both; margin:7px 0 0 12px; font-size:20px; }
.ht_m3 .input_selected1{width:240px; color:#ccc; height:27px; line-height:27px; position:absolute; left:2px; font-size:16px; top:4px; border:none;}
.ht_m3 .input_selected2{width:240px; color:#333; height:27px; line-height:27px; position:absolute; left:2px; font-size:16px; top:4px; border:none;}
.ht_m3 .button{ width:27px; height:27px; position:absolute; top:5px; right:5px; cursor:pointer; background:none; border:none;}
.ht_m3 .biying{ float:right; height:30px; line-height:30px; background:url(../images/icon_b.gif) left center no-repeat; padding:0 5px 0 20px; text-align:left;}
.ht_m3 .biying a{ color:#000; font-size:16px; text-decoration:underline;}
.ht_m3 .biying a:hover{ color:#fff;}
.ht_m3 .wbclass{ width:295px; height:0px; position:absolute; right:0; bottom:0px;}
.ht_m3 .wbhide{ display:none;}
.ht_m4{ float:left; width:62px; height:474px; background:url(../images/htbg23.jpg) no-repeat;}
.ht_bot{ width:940px; height:86px; background:url(../images/htbg3.jpg) no-repeat;}
.ninebox{ width:848px; height:491px; padding:73px 42px 0 50px; background:url(../images/ninebg.jpg) repeat-x;}
.ninebox .floorMain{ width:908px; height:491px;}
.ninebox .floorMain .whitebg{float:left; width:204px; height:204px; margin:0 8px 8px 0; overflow:hidden;}
.ninebox .floorMain .whitebg ul li{width:204px;height:204px; float:left;}
.ninebox .floorMain .whitebg a img{ border:none; width:204px; height:204px;}

#ifr_footer{ display:none;}



